.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #dd3333;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#bd2020),color-stop(1,#dd3333));
  background: -ms-linear-gradient(bottom,#bd2020,#dd3333);
  background: -moz-linear-gradient(center bottom,#bd2020 0%,#dd3333 100%);
  background: -o-linear-gradient(#dd3333,#bd2020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3333', endColorstr='#bd2020', GradientType=0);
  border: 1px solid;
  border-color: #b01d1d #a81c1c #9a1a1a #a81c1c;
  color: #FFFFFF !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a:visited,
.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a:active,
.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a:hover {
  color: #FFFFFF !important;
}
.so-widget-sow-button-atom-fbd9d2ed69ec .ow-button-base a.ow-button-hover:hover {
  background: #de3c3c;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#c62121),color-stop(1,#de3c3c));
  background: -ms-linear-gradient(bottom,#c62121,#de3c3c);
  background: -moz-linear-gradient(center bottom,#c62121 0%,#de3c3c 100%);
  background: -o-linear-gradient(#de3c3c,#c62121);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de3c3c', endColorstr='#c62121', GradientType=0);
  border-color: #b91f1f #b01d1d #a31b1b #b01d1d;
  color: #ffffff;
}